@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@700&family=Open+Sans:wght@300&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f4f5;
}

#div_connexion{
    background-color: white;
    width: 340px;
    height: 462px;
    border: 1px solid #d7dee2;
    font-size: .8125rem;
    line-height: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#logo_connexion{
    height: 120px;
}

#logo{
    margin-left: 46px;
}

#text1{
    font-family: 'Open Sans', sans-serif;
    width: 130px;
    margin-left: 105px;  
}

.champ{
    width: 268px;
    height: 37px;
    font-size: small;
}

#div_input{
    margin-left: 36px;
}

#btnValider{
    color:  white;
    background-color: #0d6efd;
    border: 0px;
    width: 175px;
    height: 30px;
    border-radius: 20px;
    margin-left: 42.5px;
}